################################
# OS / System
################################
.DS_Store
Thumbs.db

################################
# IDE / Editors
################################
.idea/
.project
.classpath
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

################################
# Logs
################################
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log

################################
# Node.js / JS
################################
node_modules/
jspm_packages/

.npm
.eslintcache
.node_repl_history

################################
# Build / Compiled
################################
dist/
build/
out/
out-tsc/
.tmp/
tmp/
coverage/
.nyc_output/
.grunt/

################################
# Env / Secrets
################################
.env
.env.*
################################
# Zoho Widget specific
################################
widget/dist/
widget/node_modules/
widget/ZET-debug.log

################################
# Optional
################################
*.tgz
.yarn-integrity
.lock-wscript
